#signupParent {
    width: 40%;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #ECECEC;
}
#signupTitle {
    padding: 2%;
    margin-top: 5%;
    text-align: center;
    font-size: 3rem;
}
.formLabel{
    font-size: 1.3rem;
}
.inputText {
    width: 80%;
    margin-left: 10%;
}
#passwordContainer {
    display: flex;
}
#signupButton {
    width: 80%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.showHideIcons {
    padding: 0.6rem 0.5rem;
}
.showHideIcons:hover {
    opacity: 50%;
    cursor: pointer;
}
#registrationParent {
    text-align: center;
    margin-bottom: 10%;
}
#registrationButton {
    color: #0065D0;
    text-decoration: underline;
}
#registrationButton:hover {
    opacity: 50%;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {

    #signupTitle {
        font-size: 2rem;
    }
    #signupParent {
        width: 80%;
    }
    .formLabel{
        font-size: 1rem;
    }
}