.editChallengeContainer {
    margin: auto;
    width: 80vw;
    text-align: center;
}

.editButton {
    margin-top: 10vh;
    margin-left: 1vw;
    margin-right: 1vw;
    width: max(20vw, 200px);
    font-size: min(2rem, 5vw);
}