.editCountryListContainer {
    margin: auto;
    width: 80vw;
    text-align: center;
}

.editCountryList {
    height: max(60vh,240px);
    border-radius: 10px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.editCountryListUtilsContainer {
    display: flex;
    justify-content: space-between;
    text-align: right;
    margin-bottom: 2vh;
}

.editCountryListUtilComponent {
    width: max(30vw,400px);
    font-size: max(0.9rem, 2vh);
    padding-top: 1vh;
}

.selectionButton {
    text-decoration: underline;
}

.selectionButton:hover {
    opacity: 80%;
    cursor: pointer;
}

.totalCountryText {
    text-align: center;
}

.editCountryList::-webkit-scrollbar {
  display: none;
}

.flagImageContainer {
    height: 64px;
}

.editCountryItemContainer {
    border: none;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 4px;
    box-shadow: none;
    color: rgb(114, 114, 114); 
    background-color: #b4b3b3;
}

.editCountryItemText{
    text-align: left;
}

.completeIncompleteIcon {
    font-size: 1.2rem;
    text-align: left;
    text-decoration: underline;
    color: #5c5c5c;
}

.completeIcon {
    color: #890000
}

.incompleteIcon {
    color: #007311
}

.completeIncompleteText:hover {
    cursor: pointer;
    opacity: 60%;
}

.editCountryItemContainer:hover {
    cursor: pointer;
    filter: brightness(95%);
}

.editCountryItemContainerSelected {
    box-shadow: 1px 1px 1px 1px rgba(50, 50, 50, 0.8) !important;
    border: 1px solid black !important;
    background-color: white !important;
    color: black !important;
}

.editCountryItemContainerCompleted {
    background-color: #c3ffb1 !important;
}

.editButton {
    margin-top: 5vh;
    margin-left: 1vw;
    margin-right: 1vw;
    width: max(20vw, 200px);
    font-size: min(2rem, 5vw);
}

.invisible {
    visibility: hidden;
    height: 0;
    padding: 0;
    margin: 0;
    border: 0 !important;
    box-shadow: none !important;
}

.noCountrySelectedText {
    color:#ff0000;
}
