#welcomeContainer {
    margin-left: 20vw;
    margin-right: 20vw;
}

#welcomeText {
    margin-top: 10vh;
    margin-bottom: 10vh;
    text-align: center;
}

#welcomeNoteText {
    font-style: italic;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
}

.authButton {
    font-size: 2rem;
}