#homeContainer{
    width: 80vw;
    margin: auto;
    padding-top: 3vh;
    align-items: center;
    text-align: center;
}

.deleteChallengeButton {
    margin-top: 5vh;
    width: max(20vw, 200px);
    font-size: min(2rem, 5vw);
}