.countryListContainer {
    margin: auto;
    width: 80vw;
}

.countryList {
    height: max(60vh,240px);
    border-radius: 10px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.countryListUtilsContainer {
    display: flex;
    justify-content: space-between;
    text-align: right;
    margin-bottom: 2vh;
}

.countryListUtilComponent {
    width: max(30vw,400px);
    font-size: max(0.9rem, 2vh);
    padding-top: 1vh;
}

.selectionButton {
    text-decoration: underline;
}

.selectionButton:hover {
    opacity: 80%;
    cursor: pointer;
}

.totalCountryText {
    text-align: center;
}

.countryList::-webkit-scrollbar {
  display: none;
}

.flagImageContainer {
    height: 64px;
}

.countryItemContainer {
    border: none;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 4px;
    box-shadow: 1px 1px 1px 1px rgba(50, 50, 50, 0.8);
    color: rgb(114, 114, 114); 
    background-color: #b4b3b3;
}

.countryItemText{
    height: 64px;
    line-height: 64px;
    text-align: center;
}

.countryItemContainer:hover {
    cursor: pointer;
    filter: brightness(95%);
}

.countryItemContainerSelected{
    border: 1px solid black !important;
    background-color: white !important;
    color: black !important;
}

.beginChallengeButton {
    margin-top: 2vh;
    width: max(20vw, 200px);
    font-size: min(2rem, 5vw);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.invisible {
    visibility: hidden;
    height: 0;
    padding: 0;
    margin: 0;
}