
#title {
    text-align: center;
    font-size: 3rem;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 10vh;
}
@media only screen and (max-width: 800px) {
    #title {
        font-size: 2rem;
    }
}
.centerScreen {
    padding-top: 10vh;
    padding-bottom: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}