.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 40vh;
}

.spinner-border {
    width: 6rem;
    height: 6rem;
    font-size: 2rem;
}