.countryContainer {
    margin: auto;
    width: 80vw;
}

.completedChallengeContainer {
    text-align: center;
}

.countryTitle {
    text-align: center;
    margin-bottom: 5vh;
}

.countryDescription {
    white-space: pre-line;
}

.challengeButtonContainer {
    margin: auto;
    text-align: center;
}

.aiNote {
    font-style: italic;
    font-weight: bold;
}